extends layout

block content
  html.
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">عن الموقع</h1>
            <p class="lead text-muted">تم بناء هذا الموقع بهدف تقييم روبوت محادثة عربي تم تطويره لأغراض بحثية فقط.
              <br/>
            سيتم عرض عدد من الاسئلة مع الإجابة، نرجو منك التوّقع لكل سؤال، هل الاجابة لشخص حقيقي أم للروبوت. شكراً لمساهمتك في هذه الدراسة.</p>
            <p>
              <a href="/questions" class="btn btn-primary my-2">اضغط هنا للبدء</a>
            </p>
          </div>
        </div>
      </section>


  script(src="/javascripts/script.js")